@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewData["Title"] = "Profilim";
}

    <div class="profile-container">
        <div class="profile-header">
            <div class="profile-info">
                <img src="profile-image.jpg" alt="Profil Resmi" class="profile-image">
                <h1>Mehmet Yılmaz</h1>
                <p>mehmet_yilmaz</p>
                <p class="bio">Sosyal etkinliklere katılmayı seven, yeni insanlarla tanışmak isteyen biriyim. VibeLink'te her zaman aktifim!</p>
            </div>
            <div class="profile-stats">
                <h2>Profil İstatistikleri</h2>
                <p><strong>Etkinlikler: </strong>10</p>
                <p><strong>Katıldığınız Etkinlikler: </strong>5</p>
                <p><strong>Takipçiler: </strong>200</p>
                <p><strong>Takip Edilenler: </strong>150</p>
            </div>
        </div>

        <div class="profile-content">
            <div class="upcoming-events">
                <h2>Gelecek Etkinliklerim</h2>
                <ul>
                    <li>Yoga Workshop - 15 Aralık 2024</li>
                    <li>Teknoloji Meetup - 20 Aralık 2024</li>
                    <li>Yılbaşı Kutlaması - 31 Aralık 2024</li>
                </ul>
                <button class="button">Etkinliklerimi Görüntüle</button>
            </div>
            <div class="social-activities">
                <h2>Sosyal Etkileşimler</h2>
                <ul>
                    <li>5 Yorum Yapıldı</li>
                    <li>3 Mesaj Alındı</li>
                    <li>5 Etkinlikte Paylaşılan İçerik</li>
                </ul>
                <button class="button">Etkileşimlerimi Görüntüle</button>
            </div>
        </div>
        <div class="profile-settings">
            <h2>Hesap Ayarları</h2>
            <button class="button">Profil Bilgilerimi Düzenle</button>
            <button class="button" onclick="" >Şifreyi Değiştir</button>
            <button class="button">Çıkış Yap</button>
        </div>
    </div>
