@{
    ViewData["Title"] = "Login";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <div class="text-center mb-4">
                <h2 class="display-4" style="color:white">Giriş Yap</h2>
                <p class="lead" style="color:white">Hesabınıza giriş yaparak devam edin!</p>
            </div>

            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "shadow-lg p-4 rounded" }))
            {
                <div class="form-group">
                    <label for="username" style="color:white">Kullanıcı Adı</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Kullanıcı adı girin" required />
                </div>

                <div class="form-group">
                    <label for="password" style="color:white">Şifre</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Şifre girin" required />
                </div>

                @if (ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-danger mt-3">
                        @ViewBag.ErrorMessage
                    </div>
                }
                <br />
                <button type="submit" class="btn-gradient btn btn-primary btn-lg w-100">Giriş Yap</button>
            }

            <p class="text-center mt-3" style="color:white">
                Henüz hesabınız yok mu? <a href="@Url.Action("Register", "Account")" class="text-primary">Kayıt Ol</a>
            </p>
            <p class="text-center mt-3">
                <a href="@Url.Action("UserIndex", "Account")" class="text-secondary">Doğru giriş yapıldıysa buradan devam edin</a>
            </p>
            <br /><br /><br /><br /><br />
        </div>
    </div>
</div>